<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Webpack code splitting by module</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div id='navigation'></div>
  <div id='footer'></div>

  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src='..<%= htmlWebpackPlugin.files.chunks[chunk].entry %>'></script>
  <% } %>
  
  <script>
    /**
     * Mount each part.
     */
    Modules.navigation.default.mount('navigation');
    Modules.footer.default.mount('footer');
  </script>
</body>
</html>